.SRCINFO
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig
*.rpm
*.deb
*.install.pkg

deepin-screenshot/
n2n-git/n2n/
pkg/
src/
/netease-cloud-music/service.html
/wine-staging-git/wine-git/
/wine-staging-git/wine-staging-git/
/mpv-vapoursynth/mpv/
